# =========================
# Node.js / Backend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/*.log

# Coverage
coverage/
.nyc_output/

# Build outputs
dist/
build/
.tmp/
.cache/

# Database
*.sqlite
*.db
*.db-journal
dump.rdb

# IDE / Editor
.vscode/
.idea/
*.swp
.zencoder
*.swo
*.swn
*.bak

# =========================
# React / Frontend
# =========================
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache/
frontend/dist/

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db
